.img {
  width: 100%;
}

.div-img {
  background: url('../img/pain.jpg') no-repeat center;
  background-size: cover;
  color: #fff;
  height: 400px;
  width: 100%;
}

.bg-perso-nav {
  background: rgba(205, 160, 71, 0.5);
}

.title {
  padding-top: 9rem;
  text-align: center;
  font-size: 5rem;
}

.sous-title {
  font-size: 3rem;
}

.a-nav {
  font-size: 1.5rem;
}

body {
  background: rgba(255, 210, 121, 0.7);
  color: #000;
  font-family: 'Lobster', cursive;
}

.img-class {
  align-items: center;
  height: 400px;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.my-card-img {
  width: 100%;
}
